In [17]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import cv2
from tqdm.notebook import trange, tqdm

In [18]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [19]:
input_files = r'C:\Users\svo0175\Documents\Work\Svetlomet\Hella_06_05_2021\Hrabova_test_long_nove_svetlo\Hrabova_test_long_nove_svetlo_cut_{0}.{1}'
thresholds_arr = [10, 50, 100, 115]

In [21]:
dfs = {}
for k in thresholds_arr:
    dfs[k] = pd.read_parquet(input_files.format(k, 'parquet.gzip'), engine='pyarrow')

In [22]:
df = dfs[10]

In [23]:
df.head()

,Row_0,Row_1,Row_2,Row_3,Row_4,Row_5,Row_6,Row_7,Row_8,Row_9,...,Row_247,Row_248,Row_249,Row_250,Row_251,Row_252,Row_253,Row_254,Row_255,FrameTimestamp_us
0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,...,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,19420328.3
1,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,...,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,19422833.4
2,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,...,329.0,329.0,329.0,329.0,329.0,329.0,329.0,329.0,329.0,19425339.5
3,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,330.0,...,329.0,329.0,329.0,329.0,329.0,329.0,329.0,329.0,329.0,19427844.3
4,331.0,331.0,331.0,331.0,331.0,331.0,331.0,331.0,331.0,331.0,...,329.0,329.0,329.0,329.0,329.0,329.0,329.0,329.0,329.0,19430359.8

In [24]:
df.tail()

,Row_0,Row_1,Row_2,Row_3,Row_4,Row_5,Row_6,Row_7,Row_8,Row_9,...,Row_247,Row_248,Row_249,Row_250,Row_251,Row_252,Row_253,Row_254,Row_255,FrameTimestamp_us
495588,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,328.0,...,336.0,336.0,336.0,336.0,336.0,336.0,336.0,336.0,336.0,1.268672e+09
495589,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,...,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,1.268675e+09
495590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.268677e+09
495591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.268680e+09
495592,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.268682e+09

In [25]:
df.shape

(495593, 257)

In [27]:
df.iloc[:100, :].apply(lambda x: x < 1.0, axis=1)

,Row_0,Row_1,Row_2,Row_3,Row_4,Row_5,Row_6,Row_7,Row_8,Row_9,...,Row_247,Row_248,Row_249,Row_250,Row_251,Row_252,Row_253,Row_254,Row_255,FrameTimestamp_us
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False